#cityDropdown ,#areaDropdown ,#filterText ,#clearBtn{
    width: 150px;
    height: 30px;
    margin-right: 58px;
    margin-bottom :20px ;
}
table {
    border-collapse: collapse;
    width: 100%;
    border-color: black ;
  }